<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Redux</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <form action="result" method="post">
                {% csrf_token %}

                <div class="row">
                    <label for="student_name">Student Name:</label>
                    <input type="text" id="student_name" name="student_name">
                </div>

                <div class="row">
                    <label for="dojo_location">Dojo Location:</label>
                    <select id="dojo_location" name="dojo_location">
                        <option value="Dallas">Dallas</option>
                        <option value="Oakland">Oakland</option>
                        <option value="Seattle">Seattle</option>
                    </select>
                </div>

                <div class="row">
                    <label for="favorite_language">Favorite Language:</label>
                    <select id="favorite_language" name="favorite_language">
                        <option value="Python">Python</option>
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                    </select>
                </div>

                <div class="row">
                    <p>Comment (optional):</p>
                    <label for="comment"></label>
                    <textarea name="comment" rows="10" cols="30"></textarea>
                </div>

            
                    <label for="submit"></label>
                    <input type="submit" id="submit" name="submit">
                
        

            </form>
        </div>
    </div>
</body>

</html>